*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Orbitron,monospace;
}

body{
  background:#000;
  color:#ffb000;
  overflow:hidden;
}

/* HUD */
.hud{
  position:absolute;
  top:50%;
  left:50%;
  width:360px;
  height:360px;
  transform:translate(-50%,-50%);
}

/* Rings */
.ring{
  position:absolute;
  border-radius:50%;
  border:2px solid currentColor;
  box-shadow:0 0 30px currentColor;
}
.autor{
    position:absolute;
    bottom:px;
    right:px;
    left: -100px;
    font-size:15px;
    opacity: 0.9;;
    color: rgb(16, 211, 16);
   
}

.r1{
  width:360px;
  height:360px;
  animation:spin 18s linear infinite;
}

.r2{
  width:260px;
  height:260px;
  top:50px;
  left:50px;
  border-style:dashed;
  animation:spinR 10s linear infinite;
}

.r3{
  width:160px;
  height:160px;
  top:100px;
  left:100px;
  animation:spin 4s linear infinite;
}

/* Core */
.core{
  position:absolute;
  width:80px;
  height:80px;
  top:140px;
  left:140px;
  border-radius:50%;
  background:radial-gradient(circle,#fff5,currentColor);
  box-shadow:0 0 60px currentColor,0 0 140px currentColor;
  animation:pulse 2s infinite;
}

/* Scan line */
.scan{
  position:absolute;
  width:100%;
  height:2px;
  background:linear-gradient(90deg,transparent,currentColor,transparent);
  animation:scan 2s linear infinite;
}

/* Text */
.title{
  text-align:center;
  margin-top:380px;
  letter-spacing:6px;
}

.mode{
  text-align:center;
  font-size:12px;
  opacity:.8;
}
#startBtn{
  position:fixed;
  top:-85px;
  left:50%;
  transform:translateX(-50%);
  padding:12px 30px;
  background:#ffb000;
  color:#000;
  border:none;
  font-size:14px;
  letter-spacing:2px;
  cursor:pointer;
  z-index:999;
}

/* Console */
.console{
  position:absolute;
  bottom:-120px;
  width:100%;
  height:90px;
  font-size:11px;
  opacity:.8;
  overflow:hidden;
}

/* Animations */
@keyframes spin{
  to{transform:rotate(360deg);}
}

@keyframes spinR{
  to{transform:rotate(-360deg);}
}

@keyframes pulse{
  50%{transform:scale(1.4);}
}

@keyframes scan{
  0%{top:0;}
  100%{top:100%;}
}
